[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-migrate = "*"
bcrypt = "*"
flask-jwt-extended = "*"
flask = "*"
flask-cors = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
cloudinary = "*"

[dev-packages]

[requires]
python_version = "3.12"

[scripts]
start = "python run.py"
migrate = "flask db migrate -m 'auto'"
upgrade = "flask db upgrade"
initdb = "flask db init"
install = "pip install -r requirements.txt"
